[core]
	excludesfile = ~/.gitignore_global
	fsmonitor = true
	untrackedCache = true
	pager = delta
[column]
	ui = auto
[branch]
	sort = -committerdate
[init]
	defaultBranch = trunk
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[push]
	autoSetupRemote = true
	followTags = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[help]
	autocorrect = prompt
[commit]
	verbose = true
[rerere]
	enabled = true
	autoupdate = true
[rebase]
	updateRefs = true
	autoStash = true
	autoSquash = true
[merge]
	conflictStyle = zdiff3
[pull]
	rebase = true

[include]
	path = ~/.gitconfig.local
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	dark = true
	side-by-side = true
