[mgr]
ratio = [1, 4, 3]
sort_by = "mtime"
sort_sensitive = false
sort_reverse = true
sort_dir_first = false
linemode = "size"
show_hidden = false
show_symlink = true

[preview]
tab_size = 2
max_width = 600
max_height = 900

[opener]

[open]

[tasks]
micro_workers = 5
macro_workers = 10
bizarre_retry = 5
